{% include 'header.html' %}
		<div>
				<!-- Popup-Box -->
				<div id="popup">
					<div id="small-dialog1" class="mfp-hide agileinfo">
						<div class="pop_up">
							<form action="#" method="post">
								<h3>LOGIN</h3>
								<input type="text" Name="Userame" placeholder="Username" required="">
								<input type="password" Name="Password" placeholder="Password" required="">
								<ul class="tick w3layouts agileinfo">
									<li>
										<input type="checkbox" id="brand1" value="">
										<label for="brand1"><span></span>Remember me</label>
									</li>
									<li>
										<a href="#">Forgot Password?</a>
									</li>
								</ul>
								<div class="send-button wthree agileits">
									<input type="submit" value="LOGIN">
								</div>
							</form>
						</div>
					</div>
					<div id="small-dialog2" class="mfp-hide agileinfo">
						<div class="pop_up">
							<form action="#" method="post">
								<h3>SIGN UP</h3>
								<input type="text" Name="Name" placeholder="Name" required="">
								<input type="text" Name="Email" placeholder="Email" required="">
								<input type="password" Name="Password" placeholder="Password" required="">
								<input type="text" Name="Phone Number" placeholder="Phone Number" required="">
								<div class="send-button wthree agileits">
									<input type="submit" value="SIGN UP">
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- //Popup-Box -->

		</div>
		<!-- //Header-Top-Bar-(Hidden) -->



		<!-- Banner -->
		<div class="agileheader-banner">
			<img src="images/banner.jpg" alt="Groovy Apparel">
		</div>
		<!-- //Banner -->

	</div>
	<!-- //Header -->



	<!-- Payment -->
	<div class="w3paymentsaits">
		<h1>PAYMENTS</h1>
		<div class="container">
			<div class="w3paymentsaitspay payq1">
				<h4>How do I pay for a Groovy Apparel purchase?</h4>
				<p>Quisque sagittis convallis erat, sed vestibulum odio molestie in. Vivamus et urna lacus. Aliquam vitae risus in sem aliquam ultricies. Sed rutrum cursus sagittis congue eros at lacinia tempor. Phasellus id auctor tortor.</p>
				<p class="w3-agile">Aenean pulvinar lacinia dictum. Nulla id erat eget velit elementum elementum. Ut turpis ligula, placerat nec purus quis, suscipit suscipit lectus. Aliquam et commodo eros.Morbi cursus auctor nisi nec dictum</p>
			</div>
			<div class="w3paymentsaitspay payq2">
				<h4>What is Cash on Delivery?</h4>
				<p>Etiam id elit a massa pellentesque venenatis. Vivamus sit amet fermentum mi, id feugiat eros. Morbi dignissim nibh eu lectus porttitor blandit. Duis consequat tellus velit, nec pretium nisi fringilla quis.</p>
				<p class="w3-agile">Sed consectetur sollicitudin orci, quis feugiat lacus finibus nec. Curabitur egestas et orci vitae efficitur. Cras et mauris vel odio malesuada scelerisque. Curabitur id finibus orci. Vestibulum porta nunc cursus magna placerat pellentesque. </p>
			</div>
			<div class="w3paymentsaitspay payq3">
				<h4>How do I pay using a credit/debit card?</h4>
				<p>Aenean euismod maximus suscipit. Morbi odio massa, feugiat at mi et, rutrum convallis odio. Integer aliquet bibendum mi, eu auctor purus euismod non. In hac habitasse platea dictumst.</p>
				<p class="w3-agile">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum blandit leo in nulla vulputate, sollicitudin tristique lectus molestie. Donec volutpat turpis augue, et pretium diam pulvinar non.</p>
			</div>
			<div class="w3paymentsaitspay payq4">
				<h4>How do I pay for a Groovy Apparel purchase?</h4>
				<p>Quisque sagittis convallis erat, sed vestibulum odio molestie in. Vivamus et urna lacus. Aliquam vitae risus in sem aliquam ultricies. Sed rutrum cursus sagittis congue eros at lacinia tempor. Phasellus id auctor tortor.</p>
				<p class="w3-agile">Aenean pulvinar lacinia dictum. Nulla id erat eget velit elementum elementum. Ut turpis ligula, placerat nec purus quis, suscipit suscipit lectus. Aliquam et commodo eros.Morbi cursus auctor nisi nec dictum</p>
			</div>
			<div class="w3paymentsaitspay payq5">
				<h4>What is Cash on Delivery?</h4>
				<p>Etiam id elit a massa pellentesque venenatis. Vivamus sit amet fermentum mi, id feugiat eros. Morbi dignissim nibh eu lectus porttitor blandit. Duis consequat tellus velit, nec pretium nisi fringilla quis.</p>
				<p class="w3-agile">Sed consectetur sollicitudin orci, quis feugiat lacus finibus nec. Curabitur egestas et orci vitae efficitur. Cras et mauris vel odio malesuada scelerisque. Curabitur id finibus orci. Vestibulum porta nunc cursus magna placerat pellentesque. </p>
			</div>
			<div class="w3paymentsaitspay payq6">
				<h4>How do I pay using a credit/debit card?</h4>
				<p>Aenean euismod maximus suscipit. Morbi odio massa, feugiat at mi et, rutrum convallis odio. Integer aliquet bibendum mi, eu auctor purus euismod non. In hac habitasse platea dictumst.</p>
				<p class="w3-agile">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum blandit leo in nulla vulputate, sollicitudin tristique lectus molestie. Donec volutpat turpis augue, et pretium diam pulvinar non.</p>
			</div>
		</div>
	</div>
	<!-- //Payment -->


{% include 'footer.html' %}

</body>
<!-- //Body -->



</html>