{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% include 'header.html' %}
	<!-- Heading -->

	{% if cat.id != 4 : %}
	<h1 class="w3wthreeheadingaits">{{(cat.name).upper()}}'S CLOTHING</h1>
	{% else: %}
	<h1 class="w3wthreeheadingaits">{{(cat.name).upper()}}</h1>
	{% endif %}
	<!-- //Heading -->



	<!-- Men's-Product-Display -->
	<div class="wthreeproductdisplay">
		<div id="cbp-pgcontainer" class="cbp-pgcontainer">
			<ul class="row cbp-pggrid">

				{% for product in cat.cat_product %}
					<li class=" wthree aits w3l">
					<div class=" cbp-pgcontent" id="men-8">
						<span class="cbp-pgrotate"><i class="fa fa-exchange" aria-hidden="true"></i></span>
						<a href="{{url_for('product', product_id = product.id)}}">
							<div class="cbp-pgitem a3ls">
								<div class="cbp-pgitem-flip">
									<img src="{{product.front_img}}" alt="Groovy Apparel">
									<img src="{{product.back_img}}" alt="Groovy Apparel">
								</div>
							</div>
						</a>
						<ul class="cbp-pgoptions w3l">
							<li class="cbp-pgoptcompare">
								<input type="checkbox" name="checkboxG8" id="checkboxG8" class="css-checkbox w3"><label for="checkboxG8" class="css-label"></label>
							</li>
							<li class="cbp-pgoptfav">
								<span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
							</li>
							<li class="cbp-pgoptsize agile">
								{% if product.one_size == 0 %}
								<span data-size="XL">XL</span>
								<div class="cbp-pgopttooltip">
									{% if product.XL_size != 0 %}
									<span data-size="XL">XL</span>
									{% endif %}
									{% if product.L_size != 0 %}
									<span data-size="L">L</span>
									{% endif %}
									{% if product.M_size != 0 %}
									<span data-size="M">M</span>
									{% endif %}
									{% if product.S_size != 0 %}
									<span data-size="S">S</span>
									{% endif %}
									{% else : %}
									<span data-size="L">one_size</span>
									{% endif %}
								</div>
							</li>
							<li class="cbp-pgoptcart">
								<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3l_item" value="Sweater "> 
										<input type="hidden" name="amount" value="25.00"> 
										<button type="submit" class="w3l-cart pw3l-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1"></a>
									</form>
							</li>
						</ul>
					</div>
					<a href="{{url_for('product', product_id = product.id)}}">
						<div class="cbp-pginfo w3layouts">
							<h3>{{product.name}}</h3>
							<span class="cbp-pgprice">${{product.price}}</span>
						</div>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<!-- //Men's-Product-Display -->


	
	{% include 'footer.html' %}
</body>
<!-- //Body -->



</html>
{% endblock %}